body {
  background-color: #d8e8f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#about-container {
  max-width: 700px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

#about-container h2,
#about-container h3 {
  text-align: center;
  color: #2a4d69;
}

#about-container p {
  margin: 15px 0;
  line-height: 1.6;
  color: #444;
}

#about-container ul {
  margin: 20px 0;
  padding-left: 20px;
}

#about-container ul li {
  margin: 8px 0;
  color: #333;
}

footer h4 {
  text-align: center;
  margin-top: 25px;
  color: #555;
}

.links {
  
  list-style: none; 
  padding: 10px;
  margin: 10px ;
  display: flex; 
  justify-content: center; 
  gap: 15px; 
}

.links li a {
  padding: 8px 15px; 
  border: 1px solid #000000;
  border-radius: 7px; 
  text-decoration: none; 
  font-size: 17px;
  font-weight: bold;
  color: black;
}