<!-- //עותמאן אגבאריה 327809190
//214626913 אחמד חבשי -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/about.css" />
  </head>
  <body>
    <ul class="links">
      <li>
        <a href="index.html">Home</a>
      </li>

      <li>
        <a href="ContactUs.html">Contact Us</a>
      </li>
    </ul>

    <div id="about-container">
      <h2>About Us</h2>

      <p>
        Welcome to our student marketplace! This platform was created to help
        university students save money, exchange study materials, and find what
        they need easily.
      </p>

      <p>
        Our mission is to make it simple and fast for students to sell, donate,
        and share used books, laptops, calculators, notebooks, and all
        study-related items.
      </p>

      <h3>Why We Created This Website?</h3>
      <ul>
        <li>Students struggle with high prices of new equipment.</li>
        <li>Facebook / WhatsApp groups are not organized.</li>
        <li>We want a clean, safe place for student-to-student exchange.</li>
        <li>To support students with communication through a built-in chat.</li>
      </ul>

      <p>
        We hope this platform will serve all students and make academic life
        easier.
      </p>

      <footer>
        <h4>© 2024 Student Marketplace</h4>
      </footer>
    </div>
  </body>
</html>
