<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Ust</title>
    <link rel="stylesheet" href="./css/contact.css" />
  </head>
  <body>
    <ul class="links">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="about.html">About</a>
      </li>
    </ul>

    <div id="all">
      <h2>Who Are We</h2>

      <h2>Customer Service</h2>
      <p>
        We are here to help you! If you have any questions, concerns, or need
        assistance, please feel free to reach out to our customer service team.
        We strive to provide the best support possible.
      </p>

      <h2>Contact Us</h2>
      <p>You can contact us through the following methods:</p>

      <ul>
        <li><b>Name : </b>Othman Igbaria || Ahmad Habshi</li>
        <li><b>phone : </b>0123456789</li>
        <li><b>email : </b>othman@gmail.com || Ahmad@gmail.com</li>
      </ul>

      <h2>Feedback</h2>
      <p>
        Your feedback is important to us! If you have any suggestions or
        comments, please let us know through the contact methods above.
      </p>

      <footer>
        <h4>&copy; 2022</h4>
      </footer>
    </div>
  </body>
</html>
