<!-- //עותמאן אגבאריה 327809190
//214626913 אחמד חבשי -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Component By Function</title>
      <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

          <ul class="links">
        <li>
          <a href="ContactUs.html">Contact Us</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
      </ul>

    <div class="wrapper">
      <div class="card">
        <h1>Book Component By Function</h1>
       <img id="imgBook" src="./img/JSCover.jpg" alt="">
        <div class="author">By Kyle Simpson</div>
        <p class="description">
          Parts of the language that many JavaScript programmers simply avoid.
        </p>
        <div class="footer">&copy; 2021 Noor & Besan</div>
      </div>
    </div>
  </body>
</html>